<div class="intro-page">
  <div class="text-area">
    <div class="title">We are here for you</div>
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi autem et ipsa nobis
      tempore voluptatibus. Aliquam in
      nisi nostrum vero? Amet cumque
      molestias, necessitatibus neque officiis temporibus vel voluptates.
    </div>
    <div class="buttons">
      <button class="intro-buttons">Get Started</button>
      <button class="intro-buttons">View Services</button>
    </div>
    <img class="vase" src="../../../../assets/svg/vase.svg">
  </div>
  <div class="image-area">
    <div class="svg-intro">
      <img class="certificates" src="../../../../assets/svg/certificates.svg">
      <img class="receptionist" src="../../../../assets/svg/mistress.svg">
      <img class="clock" src="../../../../assets/svg/clock.svg">
    </div>
  </div>
</div>
