/* Add mobile styles for the component here.  */
.login-page {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("res://sthetescope");
}
.form {
  width: 300;
  padding: 10 16;
  background-color: #f0f0f0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
