/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Orbitron|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald');

@font-face {
  font-family: "Ananda Chautari";
  src: url("./assets/fonts/AnandaChautari.ttf") format('ttf');
}

*{
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
}

